<div class="page-content">
    <ul>
        {{#model}}
            <a href="topo.html?id={{name}}&backId={{../areaName}}" class="item-link item-content">
                <div class="item-media">
                    <i class="icon ion-ios7-person"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title">{{name}}
                    </div>
                </div>
            </a>

        {{/model}}
    </ul>
</div>